<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cards</title>

    <link rel="stylesheet" href="css/bootstrap.css">

</head>
<body>
    
    <div class="container">



        <h1>Cards</h1>

        <p>Card size controlled by styles :-</p>

        <div class="card" style="width: 18rem;">
            <div class="card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem nobis, non temporibus ea voluptatum accusamus. Asperiores ex adipisci consequuntur, incidunt sint harum excepturi! Tempore repudiandae expedita dicta. Dicta enim aspernatur autem cumque repellat eos modi ullam ex a eaque magnam id iste nostrum consectetur, amet, fuga tenetur, corrupti ab perferendis!</div>
        </div>



        <br>



        <p>Card size controlled by bootstrap grid :-</p>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem nobis, non temporibus ea voluptatum accusamus. Asperiores ex adipisci consequuntur, incidunt sint harum excepturi! Tempore repudiandae expedita dicta. Dicta enim aspernatur autem cumque repellat eos modi ullam ex a eaque magnam id iste nostrum consectetur, amet, fuga tenetur, corrupti ab perferendis!</div>
                </div>
            </div>
        </div>



        <div class="card my-3" style="width: 18rem;">
        <img class="card-img-top" src="card-img-top.jpg" alt="">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sit dolore rem eius recusandae provident quibusdam tempore in? Numquam odit expedita animi asperiores nemo incidunt aperiam laudantium fuga vel ducimus dolores porro dolorem optio debitis voluptatem ipsa corporis earum quisquam beatae quibusdam similique, natus illum ratione sed. Mollitia, cupiditate dolorum?</p>
        </div>
        </div>   

        
        
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="horizontal-card.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>



          <div class="card my-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>



          <br>



          <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>



          <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-primary">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>



          <div class="card-group">
            <div class="card">
              <img src="1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>




    </div>






    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>