<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="css/bootstrap.css">

</head>
<body data-spy="scroll" data-target="#navbar-example">

    <nav id="navbar-example" class="navbar bg-light flex-column align-items-stretch p-3">
        <a class="navbar-brand" href="#">Navbar</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#item-1">Item 1</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
            <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
          </nav>
          <a class="nav-link" href="#item-2">Item 2</a>
          <a class="nav-link" href="#item-3">Item 3</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
            <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
          </nav>
        </nav>
      </nav>
      
      <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" tabindex="0">
        <div id="item-1">
          <h4>Item 1</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque perferendis excepturi aut sapiente vero velit sequi, sint placeat soluta reiciendis corrupti autem veniam. Necessitatibus molestiae, aspernatur dignissimos nemo, natus est ratione consequuntur vel maxime culpa incidunt explicabo voluptatum deleniti. Adipisci velit corrupti sapiente consectetur minima amet eos nemo unde nam.</p>
        </div>
        <div id="item-1-1">
          <h5>Item 1-1</h5>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates esse rerum quod, enim sunt nemo dolorem nihil repellendus perferendis expedita ea voluptas minus sit suscipit saepe obcaecati officia. Vero, expedita quidem autem deleniti dolorem reiciendis modi sapiente et animi aut iste ad excepturi eum necessitatibus, officia consequatur saepe! Rerum, ipsum.</p>
        </div>
        <div id="item-1-2">
          <h5>Item 1-2</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci veritatis soluta aliquid nesciunt, rerum qui laudantium ullam necessitatibus, corporis perferendis reiciendis minus iure nostrum accusantium dignissimos facilis unde possimus natus! Ipsa animi eaque maiores asperiores. Sint, unde inventore fugit ipsum consequuntur necessitatibus? Tenetur laudantium voluptatem, fuga ullam aliquam aspernatur quibusdam.</p>
        </div>
        <div id="item-2">
          <h4>Item 2</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quasi rem sit saepe, nulla expedita quas nisi vel! Odio at maxime distinctio quo facilis quia, fugit, modi quasi natus pariatur aspernatur facere sint nostrum fuga. Nobis dolores ab dolorum enim earum dolorem tenetur eos sapiente. Inventore dolore incidunt quaerat necessitatibus.</p>
        </div>
        <div id="item-3">
          <h4>Item 3</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates eligendi laborum assumenda, libero nam earum adipisci harum fuga autem, at dolorum fugiat exercitationem et, voluptate voluptatum. Consequatur ad, tenetur temporibus doloremque, unde rerum soluta ipsum amet animi dolorem veniam autem dolore ut possimus architecto laborum quaerat similique tempora aspernatur doloribus.</p>
        </div>
        <div id="item-3-1">
          <h5>Item 3-1</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, laboriosam veritatis iste voluptate ducimus incidunt obcaecati quia quasi doloribus aliquam, saepe sapiente tempore distinctio animi, dignissimos adipisci. Eius accusamus magnam doloremque dicta sapiente quis necessitatibus voluptatum minus aperiam nihil perferendis repudiandae, ea, natus corrupti, vitae optio saepe veniam quo accusantium.</p>
        </div>
        <div id="item-3-2">
          <h5>Item 3-2</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi perferendis, molestias officiis deserunt nesciunt corrupti non cupiditate molestiae, harum tempore magnam ipsam eos quis. Ea omnis saepe perspiciatis, veritatis quisquam hic eaque impedit, at harum fugiat quos. Voluptatibus perferendis autem fugiat ullam saepe obcaecati perspiciatis. Ipsam neque quidem velit!</p>
        </div>
      </div>


    
    






    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>